@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); 
body{ 
  display: flex; 
  justify-content: center; 
  background-color: #2f4f4f; 
  font-family: 'Poppins', sans-serif; 
} 
.App { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: white; 
  width: 350px; 
  padding: 20px 0; 
  margin: 20px 0;  
  border-radius: 6px; 
} 
.products{ 
  width: 300px; 
} 
.product{ 
  display: flex; 
  align-items: center; 
  background-color: #CEB5A7; 
  padding: 0 15px; 
  margin-bottom: 10px; 
  color: white; 
  border-radius: 6px; 
} 
.product-info{ 
  display: flex; 
  justify-content: space-between; 
  flex: 0.7; 
} 
.checked{ 
  text-decoration: line-through; 
} 
.product-info .input-name{ 
  display: flex; 
} 

.product-info .input-name p{ 
margin-left: 10px; 
} 
.product-icons{ 
display: flex; 
justify-content: flex-end; 
align-self: center; 
flex: 0.3; 
}

.add-list{ 
  display: flex; 
  flex-direction: column; 
  width: 300px; 
  margin-bottom: 20px; 
  } 
  .input-div{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
  max-height: 30px; 
  } 
  .input-div label{ 
  margin-right: 10px; 
  } 
  .input-div select, input{ 
  padding: 5px; 
  background-color: white; 
  border: 1px solid gray; 
  border-radius: 6px; 
}