<!DOCTYPE html> 
<html> 
<head> 
    <title>Studenci</title> 
    <link rel="stylesheet"  
             href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
             integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
             crossorigin="anonymous"> 
    <style> 
        #box { 
            background-color: #fff; 
            margin-top: 20px; 
            padding: 20px; 
        } 
    </style> 
</head> 
 
<body class="bg-info"> 
    <div id="box" class="col-md-6 offset-md-3"></div> 
        {{{body}}} 
</body> 
</html> 
