table 
{
background: #ffff80;
text-align: center;
width: 94%;
margin: 2%;
border: 1pt dashed #000080;
}
caption
{
font-size: 120%;
font-weight: bold;
}

thead, tfoot
{
    background: #000080;
    color: #ffffff;
    font-size: 110%;
    padding: 5pt;
}

td, th
{
    border: 1pt solid #000080;
}

tfoot a
{
    color: #ffffff;
}

*.parzysty
{
    background: #b82787;
}